<!-- Include Defatul HTML Header -->
<%- include ../partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<main class="jumbotron text-center titleMain">
    <h1 class="jumbotron-heading display-3"><%= title %></h1>
</main>
<div class="modal-dialog text-center">
    <div class="col main-section">
        <div class="modal-content model-content-add">
            <div class="col-12 user-img">
                <img src="/assets/images/add.png">
            </div>
            <div class="col-12 form-input">
                <form method="POST" autocomplete="off" id="addForm">
                    <div class="form-group fonticonUpdate">
                        <i class="fab fa-elementor fa-lg"></i>
                        <label for="titleTextField" class="labelList">Radial Menu Title</label>
                        <input type="text" class="form-control" id="titleTextField" placeholder="Enter the Menu  Title"
                            name="title" required>
                    </div>

                    <div class="form-group fonticonUpdate">
                        <label for="privacy" class="labelList">Radial Privacy</label>
                        <i class="fas fa-user-secret fa-lg"></i>
                        <select class="form-control mdb-select md-form selectList" id="privacy" name="privacy" required>
                            <option value="Public" selected>Public</option>
                            <option value="Private">Private</option>
                        </select>
                    </div>

                    <div class="form-group fonticonUpdate">
                        <i class="fas fa-comment fa-lg"></i>
                        <label for="firstTextField" class="labelList">First Text Field</label>
                        <input type="text" class="form-control" id="firstTextField"
                            placeholder="Enter the first Text Field" name="fields" required>
                    </div>

                    <div class="form-group fonticonUpdate">
                        <i class="fas fa-comment fa-lg"></i>
                        <label for="secondTextField" class="labelList">Second Text Field</label>
                        <input type="text" class="form-control" id="secondTextField"
                            placeholder="Enter the second Text Field" name="fields" required>
                    </div>

                    <div class="form-group fonticonUpdate">
                        <i class="fas fa-comment fa-lg"></i>
                        <label for="thirdTextField" class="labelList">Third Text Field</label>
                        <input type="text" class="form-control" id="thirdTextField"
                            placeholder="Enter the third Text Field" name="fields" required>
                    </div>

                    <div class="form-group fonticonUpdate">
                        <i class="fas fa-comment fa-lg"></i>
                        <label for="fourthTextField" class="labelList">Fourth Text Field</label>
                        <input type="text" class="form-control" id="fourthTextField"
                            placeholder="Enter the fourth Text Field" name="fields" required>
                    </div>

                    <div class="form-group fonticonUpdate">
                        <i class="fas fa-comment fa-lg"></i>
                        <label for="fifthTextField" class="labelList">Fifth Text Field</label>
                        <input type="text" class="form-control" id="fourthTextField"
                            placeholder="Enter the fifth Text Field" name="fields" required>
                    </div>

                    <div class="form-group fonticonUpdate">
                        <i class="fas fa-comment fa-lg"></i>
                        <label for="sixthTextField" class="labelList">Sixth Text Field</label>
                        <input type="text" class="form-control" id="fourthTextField"
                            placeholder="Enter the Sixth Text Field" name="fields" required>
                    </div>

                    <button class="btn btn-primary submitButton" type="submit" id="submitBtn">
                        <i class="fas fa-edit"></i> Submit</button>

                    <button class="btn btn-success submitButton" onclick="myFunction()" type="button">Add element</button>

                    <a href="/radial-list" class="btn btn-warning cancelButton">
                        <i class="fas fa-undo"></i> Cancel</a>

                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function myFunction() {
        let form = document.getElementById("addForm");
        let submutBtn = document.querySelector("#submitBtn");

        let fieldDiv = document.createElement("div");
        fieldDiv.classList.add("form-group", "fonticonUpdate");
        form.appendChild(fieldDiv);

        submutBtn.before(fieldDiv);

        let i = document.createElement("i");
        i.classList.add("fas", "fa-comment", "fa-lg");
        fieldDiv.appendChild(i);

        let label = document.createElement("label");
        label.classList.add("labelList");
        label.innerHTML = "Another Field";
        fieldDiv.appendChild(label);

        let input = document.createElement("input");
        input.classList.add("form-control");
        input.name = "fields";
        fieldDiv.appendChild(input);
    }
</script>
    <!-- Include Defatul HTML Bottom -->
    <%- include ../partials/bottom_nav.ejs %>
    <!-- Include Defatul Footer -->
    <%- include ../partials/footer.ejs %>