<!-- Include Defatul HTML Header -->
<%- include ../partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<main class="jumbotron text-center titleMain">
    <h1 class="jumbotron-heading display-3"><%= title %></h1>
</main>
<div class="modal-dialog text-center">
    <div class="col main-section">
        <div class="modal-content model-content-update displayInfo">
            <div class="col-12 user-img">
                <img src="/assets/images/update.png">
            </div>
            <div class="col-12 form-input">
                <form method="POST" autocomplete="off">
                    <div class="form-group fonticonUpdate">
                        <i class="fab fa-elementor fa-lg"></i>
                        <label for="titleTextField" class="labelList">Radial Menu Title</label>
                        <input class="form-control" id="titleTextField" placeholder="Enter the Menu  Title"
                            value="<%= radial.title %>" name="title" required>
                    </div>    

                    <div class="form-group fonticonUpdate">
                        <i class="fas fa-comment fa-lg"></i>
                        <label for="firstTextField" class="labelList"><%= radial.titleFields[Number] %></label>
                        <textArea for="text" class="form-control textArea" name="fields" value=""><%= radial.fields[Number] %></textArea>
                    </div>
                        
                    <div class="divider"></div>
                    <button class="btn btn-primary submitButton" type="submit">
                        <i class="fas fa-edit"></i> Speech</button>                    
                    
                    <a href="/radial-list" class="btn btn-warning cancelButton">
                        <i class="fas fa-undo"></i> Go Back</a>

                </form>
            </div>
        </div>
    </div>
</div>
    <!-- Include Defatul HTML Bottom -->
    <%- include ../partials/bottom_nav.ejs %>
    <!-- Include Defatul Footer -->
    <%- include ../partials/footer.ejs %>