<!-- Include Defatul HTML Header -->
<%- include ../partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<main class="jumbotron text-center titleMain">
    <h1 class="jumbotron-heading display-3"><%= title %></h1>
</main>
<div class="modal-dialog text-center">
    <div class="col main-section">
        <div class="modal-content model-content-update">
            <div class="col-12 user-img">
                <img src="/assets/images/update.png">
            </div>
            <div class="col-12 form-input">
                <form method="POST" autocomplete="off">
                    <div class="form-group fonticonUpdate">
                        <i class="fab fa-elementor fa-lg"></i>
                        <label for="titleTextField" class="labelList">Radial Menu Title</label>
                        <input type="text" class="form-control" id="titleTextField" placeholder="Enter the Menu  Title"
                            value="<%= radial.title %>" name="title" required>
                    </div>

                    <div class="form-group fonticonUpdate">
                        <label for="privacy" class="labelList">Radial Privacy</label>
                        <i class="fas fa-user-secret fa-lg"></i>
                        <select class="form-control mdb-select md-form selectList" id="privacy" name="privacy" required>
                            <% if (radial.privacy == "Public") { %>
                                <option value="Public" selected>Public</option>
                            <% } else { %>
                                <option value="Public">Public</option>
                            <% } %>
                            <% if (radial.privacy == "Private") { %>
                                <option value="Private" selected>Private</option>
                            <% } else { %>
                                <option value="Private">Private</option>
                            <% } %>
                        </select>
                    </div>                    

                    <% for(let i = 0; i < radial.fields.length; i++) { %>
                        <div class="form-group fonticonUpdate">
                            <i class="fas fa-comment fa-lg"></i>
                            <label for="firstTextField" class="labelList">Field Number <%= i + 1 %></label>
                            <input type="text" class="form-control" id="firstTextField"
                                placeholder="Enter the first Text Field" value="<%= radial.fields[i] %>" name="fields"
                                required>
                        </div>
                    <% } %>

                    <button class="btn btn-primary submitButton" type="submit">
                        <i class="fas fa-edit"></i> Submit</button>

                    <a href="/radial-list" class="btn btn-warning cancelButton">
                        <i class="fas fa-undo"></i> Cancel</a>

                </form>
            </div>

        </div>
    </div>
</div>
    <!-- Include Defatul HTML Bottom -->
    <%- include ../partials/bottom_nav.ejs %>
    <!-- Include Defatul Footer -->
    <%- include ../partials/footer.ejs %>