<!-- Include Defatul HTML Header -->
<%- include ../partials/header.ejs %>
<!-- Include Default Html Navigation Menu -->
<%- include ../partials/main_nav.ejs %>
<script src="/scripts/app.js"></script>

<!-- Main Content -->
<main class="container">
    <% if(RadialList.length == 0) { %>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Radial Menus</h1>
            <p class="lead text-muted">You don't have radial menus</p>
            <p>
                <a href="/radial-list/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Create Radial Menu</a>
            </p>
        </div>
    </section>
    <% } else { %>
    <h1><%= title %></h1>
    <a href="/radial-list/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Radial Menu</a>
    <br>
    <!-- Search box for titles -->

    <div class="autocomplete" style="width:300px;">
        <input id="searchTitle" type="text" name="title" placeholder="Titles">
    </div>
    <button onclick="findTitle()" class="btn btn-sm btn-secondary">Search</button>

    <!-- Repeatable Template Row -->
    <div class="row" id="menusDiv">
        <% for(let count = 0; count < RadialList.length; count++) { %>
        <% btnId = count; %>
        <% if(RadialList[count].user == UserID || RadialList[count].status == 'public') { %>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3 class="card-text"><%= RadialList[count].title %></h3>
                    <table class="table table-borderless" id="table<%= btnId %>">
                        <tbody>
                        <% for(let countFields = 0; countFields < RadialList[count].fields.length; countFields++) { %>
                            <tr class="rowTable">
                                <th scope="row">Field N<%= countFields + 1 %></th>
                                <td><%= RadialList[count].fields[countFields] %></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" id="previous<%= btnId %>" class="PreviousBtn btn btn-sm btn-outline-primary" onclick="previous_click(this.id)" >
                                <i class="fas fa-arrow-left"></i> Previous</button>
                            <a href="/radial-list/edit/<%= RadialList[count]._id %>"><button type="button"
                                    class="btn btn-sm btn-outline-primary">
                                    <i class="fas fa-pencil-alt"></i> Edit</button></a>
                            <a href="/radial-list/delete/<%= RadialList[count]._id %>"><button type="button"
                                    class="btn btn-sm btn-outline-danger">
                                    <i class="fas fa-trash-alt"></i> Delete</button></a>
                            <button type="button" id="next<%= btnId %>" class="nextBtn btn btn-sm btn-outline-primary" onclick="next_click(this.id)">
                                <i class="fas fa-arrow-right"></i> Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>
        <% } %>
    </div>
    <script>
        let menusDiv = document.getElementById("menusDiv");
        let menusDivClass = menusDiv.getElementsByClassName("card-text");
        let titles = [];
        for (let i = 0; i < menusDivClass.length; i++) {
            titles.push(menusDivClass[i].innerHTML)
        }
        autocomplete(document.getElementById("searchTitle"), titles);
    </script>
</main>

<!-- Include Defatul HTML Bottom -->
<%- include ../partials/bottom_nav.ejs %>
<!-- Include Defatul Footer -->
<%- include ../partials/footer.ejs %>